.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-top: 20px;
  width: 400px;
}